# Compiled stuff
*.exe
*.a
*.o
*.ppu

# Resource files
*.res
*.obj

# Runtime stuff
dist/
*.log
LOG.TXT

# Boilerplate
boilerplate/**
!boilerplate/setup.ps1
!boilerplate/setup.pl

# Demo projects
DEMOS/*/*.dll
DEMOS/*/*.ps1
snippets/*.dll


# Misc
thumbs.db

# Lazarus stuff
backup/
lib/
*.lps
*.dbg

# Bun JS stuff
node_modules/

experimental/nuclear_zone/engine/*.pas
experimental/nuclear_zone/shared/**/*.pas
experimental/nuclear_zone/shared/**/*.inc
