# Compiled stuff
*.exe
*.a
*.o
*.ppu
# .rc to .res
*.res
dist/

# Runtime stuff
*.log
LOG.TXT

# Boilerplate
boilerplate/shared/*.PAS
boilerplate/UNITS/*.PAS
boilerplate/posit92.pas
boilerplate/posit-92.ico

# Misc
thumbs.db
