# Compiled stuff
*.exe
*.a
*.o
*.ppu

# Resource files
*.res
*.obj

# Runtime stuff
dist/
*.log
LOG.TXT

# Boilerplate
boilerplate/shared/
boilerplate/UNITS/
boilerplate/posit92.pas
boilerplate/posit-92.ico

# Demo projects
DEMOS/sound/*.dll
# DEMOS/sound/*.ps1


# Misc
thumbs.db
